/* Navbar */

* {
	font-family: sans-serif;
}

.navbar{
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: 'Viga', sans-serif;
	font-size: 32px;
}

/* Jumbotron */
.jumbotron {
	text-align: center;
	background-image: url(img/jumbotron-bg.jpg);
	background-size: cover;
	height: 540px;
	position: relative;
}

.jumbotron .container{
	z-index: 1;
	position: relative;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0,0,01), rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4{
	color: white;
	margin-top: 140px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	font-size: 40px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span{
	font-weight: 500;
}


.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;
}

.info-panel img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p {
	font-size: 14px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 200;
}

/* Workingspace */
.workingspace {
	margin-top: 120px;
	text-align: center;
}

.workingspace h3{
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.workingspace h3 span{
	font-weight: 500;
}

.workingspace p{
	font-size: 18px;
	color: #ACACAC;
	font-weight: 200;
	margin: 30px 0;
}

/*Testimonial*/
.testimonial{
	margin-top: 50px;
}

.testimonial h5{
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 32px;
}

.testimonial figure img{
	width: 60px;
	margin: 20px 10px 10px;
	opacity: 0.6;
}

.testimonial figure img.utama{
	opacity: 1;
	width: 90px;
	margin-top: 5px;
}

.testimonial figure h5{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #1C2C5D;
}

.testimonial figure p{
	font-size: 12px;
	color: #ACACAC;
	margin-top: 5px !important;
}

.testimonial figcaption{
	text-align: center;
}

.footer{
	margin-top: 100px;
}

.footer p{
	color:  #ACACAC;
	font-size: 18px;
}

.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/* Pricing */
.pricing-title{
	text-align: center;
}

.pricing-description{
	font-size: 18px;
	text-align: justify;
}

.pricing-plan{
	width: auto;
	border-radius: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #555555;
	margin: 15px;
	margin-top: 50px;
}

.pricing-plan--highlighted{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	transform: scale(1.05);
}

.pricing-plan-special-text{
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	background-color: #007c64;
	text-shadow: 0 0 10pc rgba(0, 0, 0, 0.2) inset;
	font-size: 18px;
}

.pricing-plan-header{
	padding: 25px;
	background-color: #009578;
	color: #ffffff;
}

.pricing-plan-title, 
.pricing-plan-summary{
	margin: 0;
	text-align: center;
}

.pricing-plan-title{
	font-size: 1.5em;
	font-weight: 400;
}

.pricing-plan-summary{
	font-size: 18px;
	font-weight: 300;
}

.pricing-plan-description{
	padding: 25px;
}

.pricing-plan-list{
	padding: 0;
	margin: 0;
}

.pricing-plan-feature{
	list-style: none;
	margin: 0;
	padding-left: 25px;
	position: relative;
	font-size: 18px;
}

.pricing-plan-feature:not(:last-child){
	margin-bottom: 0.5em;
}

.pricing-plan-feature:before{
	content: "\2714";
	color: #009578;
	position: absolute;
	left: 0;
}

.pricing-plan-actions{
	padding: 25px;
	border-top: 1px solid #eeeeee;
	display: flex;
	flex-direction: column;
}

.pricing-plan-button {
	width: auto;
	display: inline-block;
	margin: 15px auto;
	padding: 8px 20px;
	text-decoration: none;
	color: #009578;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #009578;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: bold;
}

.pricing-plan-button:hover{
	background-color: #009578;
	color: #ffffff;
}

.pricing-plan-cost{
	margin: 0;
	text-align: center;
	font-size: 2em;
	color: #000000;
}

.pricing-plan-text{
	font-size: 0.9em;
	text-align: center;
	margin: 0 0 10px 0;
}

.clear{
	clear: left;
}
/* About */

.about {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.about-description{
	text-align: justify;
	font-size: 18px;
}

.about-content{
	text-align: justify;
	font-size: 18px;
}

.social{
	margin: 40px 40px 40px 0px;
}
.social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.about .social i:hover{
	color:  #007bff;
}

.about-image-section{
	margin-top: 20px;
}

/* Features */
.features{
	margin-top: 50px;
	text-align: center;
}

.feature-description{
	font-size: 18px;
	text-align: justify;
}

.feature-content{
	font-size: 18px;
	margin-top: 5px;
}

.feature-content {
	margin-top: 10px;
	text-align: justify;
}

/* Join Us */
#joinUs{
	margin-top: 50px;
	text-align: center;
}

.join-us-description{
	font-size: 18px;
	text-align: justify;
}

.join-us-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.join-us {
  float: left;
  width: 25%;
}

.join-us-icon {
  position: relative;
}

.join-us-icon h4{
	margin-top: 10px;
}

.join-us p{
	font-size: 18px;
}

/* Tablet */
@media all and (max-width: 1000px) {
  .join-us {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* Smartphone */
@media all and (max-width: 670px) {
  .join-us {
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 992px){
	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		widows: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron{
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4{
		font-size: 62px;
	}

	.workingspace{
		text-align: left;
	}

	.testimonial h5{
		font-size: 32px;
	}

	.about-image-section{
		margin-bottom: 0px;
	}

	.about-description{
		text-align: center;
		font-size: 18px;
	}

	.feature-content {
		margin-top: 0;
	}

	.feature-description{
		text-align: center;
	}

	.pricing-description{
		text-align: center;
	}

	.join-us-description{
		text-align: center;
	}
}